@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Marcellus+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    padding-bottom: 120px;
}

nav{
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav ul li {
    font-family: "Kanit", sans-serif;
    color: #7e7e7e !important;
    font-weight: 500;
    font-size: 17px;
}

nav ul li i {
    color: black;
    font-size: 18px;
}

nav ul li:hover {
    color: black !important;
    text-decoration: underline;
    transition: .5s;
}

.home-banner h3 {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    display: block;
    color: dimgray;
    margin-bottom: 35px;
    letter-spacing: 3px;
}

.home-banner h1 {
    font-family: "Marcellus SC", serif;
    font-size: 48px !important;
    font-weight: 400 !important;
    line-height: 1.35;
    margin-bottom: 36px;
    color: #333;
}

.home-banner button {
    font-family: "Marcellus SC", serif;
    border: 1px solid black;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 40px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 500px;
}

.home-banner button:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    transition: .5s;
}

.section-padding .inner h1 {
    font-family: "Playwrite CU", cursive;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 1.2;
    margin-top: 0;
    color: #333;
}

.section-padding .inner h3 {
    font-family: "Marcellus SC", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    display: block;
    margin-bottom: 25px;
    letter-spacing: 3px;
    color: #72a499;
}

.section-padding .inner p {
    font-family: "Marcellus SC", serif;
    font-size: 16px;
    font-weight: 100 !important;
    line-height: 2;
    max-width: 850px;
    font-style: normal;
    visibility: visible;
    text-align: center;
    color: dimgray;
}

.content button {
    font-family: "Marcellus SC", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.125;
    margin: 0;
    text-align: center;
    padding: 15px 10px;
}

.products .product {
    margin-top: 40px;
    background-color: #fff;
    text-align: center;
    width: 306px;
    border: none;
}

.products .product:hover {
    bottom: 0px;
}

.products .product .product-image {
    overflow: hidden;
    position: relative;
}

.products .product .product-image:hover .image .img-1 {
    opacity: 0;
}

.products .product .product-image:hover .image .img-2 {
    opacity: 1;
}

.products .product .product-image:hover .cart {
    opacity: 1;
}

.products .product .product-image .image {
    display: block;
}

.products .product .product-image .image img {
    width: 100%;
    height: 417.01px;
}

.products .product .product-image .image .img-1 {
    transition: 0.5s;
}

.products .product .product-image .image .img-2 {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.products .product .product-info h6 {
    font-family: "Kanit", sans-serif;
    color: #7e7e7e;
}

.products .product .price .old {
    font-family: "Kanit", sans-serif;
    color: #7e7e7e;
    text-decoration: line-through;
}

.products .product .price .new {
    font-family: "Kanit", sans-serif;
    color: #f8796c;
    margin-left: 10px;
}

.products .product .product-buttons button {
    width: 48px;
    height: 48px;
    margin: 0 5px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
}

.products .product .product-buttons button:hover {
    background-color: #f8796c;
    transition: .5s;
}

.products .product .product-image:hover .product-info {
    opacity: 0;
}

.products .product .product-image:hover .product-buttons {
    opacity: 1;
}

.products .product .product-image .image {
    display: block;
}

.products .product .product-image .product-info {
    transition: 0.5s;
}

.products .product .product-image .product-buttons {
    width: 100%;
    padding: 4px 14px;
    opacity: 0.85;
    transform: translateX(-50%);
    padding-top: 15px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transition: 0.5s;
    opacity: 0;
}

.modal-star {
    color: rgb(245, 204, 38);
    font-size: 12px;
}

.modal-star a {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #7e7e7e;
}

.product-title h3 {
    font-family: "Marcellus SC", serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.1675;
    margin-top: 10px;
    margin-left: 10px;
}

.modal-price p {
    font-family: "Marcellus SC", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.175;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    color: #333;
}

.product-description p {
    font-family: "Kanit", sans-serif;
    color: dimgray;
    margin-top: 10px;
    margin-left: 10px;
}

.product-variations {
    margin-top: 10px;
    margin-left: 10px;
}

.product-variations tr .label {
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
}

.product-variations tr .product-sizes a {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin-right: 15px;
    color: #ababab;
    margin-left: 10px;
}

.product-variations tr .product-sizes a:hover {
    color: #000;
    transition: .5s;
}

.product-colors div {
    width: 18px;
    height: 18px;
    border: 1px solid gray;
    margin-right: 15px;
    border-radius: 50%;
}

.product-quantity .count button {
    font-family: "Kanit", sans-serif;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
}

.product-quantity .count input {
    font-family: "Kanit", sans-serif;
    padding: 10px 20px;
    width: 60px;
    font-size: 20px;
    outline: none;

}

.product-quantity .count button:hover {
    background-color: #333;
    color: white;
    transition: .5s;
}

.product-buttons .fav {
    border: 1px solid rgb(138, 137, 137);
    border-radius: 50%;
}

.product-buttons .fav i {
    color: rgb(104, 103, 103);
    padding: 20px;
}

.product-buttons .fav:hover {
    background-color: #333;
    transition: .5s;
}

.product-buttons .fav:hover i {
    color: white;
    transition: .5s;
}

.product-buttons .add {
    font-family: "Marcellus SC", serif;
    border: 1px solid rgb(138, 137, 137);
    background-color: #333;
    color: white;
    border-radius: 50px;
    padding: 20px;
}

.product-buttons .add:hover {
    background-color: white;
    color: #333;
    transition: .5s;
}

.products .tab {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.products .tab .tablinks {
    position: relative;
    font-family: "Marcellus SC", serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 1;
    position: relative;
    display: block;
    color: #ababab;
}

.image-element {
    position: absolute;
    width: 100%;
    top: 15px;
    opacity: 0;
    transition: all .5s;
}

.products .tab .tablinks:hover,
.products .tab .tablinks.active {
    color: #333;
    transition: .5s;
}

.products .tab .tablinks:hover .image-element,
.products .tab .tablinks.active .image-element {
    opacity: 1;
    transform: translateY(52%);
}

.brands .title h1 {
    font-family: "Marcellus SC", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    color: #333;
}

.brands .title button {
    font-family: "Marcellus SC", serif;
    border-color: #f8f9fa;
    background-color: #f8f9fa;
    color: #333;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 40px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 500px;
}

.brands .title button:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
    transition: .5s;
}

.brands .image .content h6 {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-top: 30px;
}

.brands .image .content span {
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #7e7e7e;
}

.hover-img {
    position: relative;
    width: 100%;
}

.hover-img .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hover-img .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.hover-img img:hover {
    opacity: 0.3;
}

.hover-img:hover .middle {
    opacity: 1;
}

.hover-img .text {
    width: 100%;
}

.hover-img .text i {
    font-size: 50px;
    color: black;
}

.hover-img .text i:hover {
    color: white;
    transition: .5s;
}

.learts-blockquote .content p {
    font-family: "Marcellus SC", serif;
    font-size: 24px !important;
    font-weight: 400;
    line-height: 1.675;
    color: rgb(107, 106, 106);
    max-width: 600px;
    text-align: center;
}

.clients .title h1 {
    font-family: "Marcellus SC", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    color: #333;
}

.clients .title button {
    font-family: "Marcellus SC", serif;
    border-color: #f8f9fa;
    background-color: #f8f9fa;
    color: #333;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 40px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 500px;
}

.clients .title button:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
    transition: .5s;
}

.testimonial p {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 350px;
    line-height: 2;
    margin-bottom: 48px;
    opacity: .8;
    color: #454545;
}

.testimonial .author img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.testimonial .author h6 {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 18px;
    color: #333;
}

.testimonial .author span {
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #7e7e7e;
}

.marka .title h1 {
    font-family: "Marcellus SC", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    color: #333;
}

.marka .title button {
    font-family: "Marcellus SC", serif;
    border-color: #f8f9fa;
    background-color: #f8f9fa;
    color: #333;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 40px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 500px;
}

.marka .title button:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
    transition: .5s;
}

.marka img {
    opacity: 0.5;
}

.marka img:hover {
    opacity: 1;
    transition: all .5s;
}

.about-banner .title {
    font-family: "Marcellus SC", serif;
    font-size: 56px !important;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.2;
    margin-top: 0;
    color: #333;
}

.about-banner .breadcrumb .breadcrumb-item {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #999;
}

.glightbox_video {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer_circle {
    stroke-width: 3;
    stroke-dasharray: 410;
    stroke-dashoffset: 0;
    stroke-linecap: square;
    transition: all .4s ease-out;
}

.glightbox_video:hover .outer_circle {
    stroke-dashoffset: 410;
    transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out
}

.glightbox_video:hover .inner-circle {
    fill: #BF2428;
    transition: fill .4s .3s ease-out;

}

.glightbox_video:hover .play {
    fill: white;
    transition: fill .4s .3s ease-out;
}

.title-section .title h1 {
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.2;
    max-width: 270px;
    margin-top: 0;
    color: #333;
}

.text-heading h6 {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    color: #333;
}

.text-heading p {
    font-family: "Kanit", sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.75;
    max-width: 370px;
    color: dimgray;
}

.sub-title h3 {
    font-family: "Updock", cursive;
    font-size: 56px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 8px;
    color: #72a499;
}

.sub-title .title {
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    color: #333;
}

.section-slider .image {
    display: block;
    width: 100%;
    height: auto;
}

.section-slider .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
}

.section-slider .instafeed-item:hover .overlay {
    opacity: 1;
}

.section-slider .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.instafeed-item {
    position: relative;
    width: 200px;
}

.contact-section .text h2 {
    font-family: "Marcellus SC", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    color: #333;
}

.contact-section .text p {
    font-family: "Marcellus SC", serif;
    line-height: 1.75;
    font-size: 14px;
    font-weight: 300;
    color: dimgray;
    max-width: 570px;
    margin-top: 25px;
    text-align: center;
}

.contact-section .contact-width h6 {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 15px;
    padding-left: 44px;
}

.contact-section .contact-width span {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.75;
    position: relative;
    visibility: visible;
    overflow-x: hidden;
    color: rgb(178, 177, 177);
}

.responsive-map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.message h2 {
    font-family: "Marcellus SC", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    color: #333;
}

.subscribe-email input {
    border: none;
    border-bottom: 1px solid rgb(86, 85, 85);
    width: 100%;
}

.subscribe-email input:focus {
    border-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.subscribe-email textarea{
    border: none;
    border-bottom: 1px solid rgb(86, 85, 85);
    width: 100%;
    height: 200px;
    resize: none;
}
.subscribe-email textarea:focus {
    border-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.subscribe{
    margin: 0px 150px 0px 150px;
}
.subscribe button{
    border: 1px solid #333;
    background-color: #333;
    color: white;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 40px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 500px;
}
.subscribe button:hover{
    color: #333;
    border-color: #333;
    background-color: rgba(0, 0, 0, 0);
    transition: all .5s;
}
.blog-card .meta li{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin-right: 25px;
    color: dimgray;
}
.blog-card h5{
    font-family: "Marcellus SC", serif;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    color: #333;
}
.blog-card p{
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    color: dimgray;
    max-width: 370px;
    line-height: 1.75;
}
.blog-card .more a{
    border-color: #333;
    background-color: #333;
    color: #fff;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 40px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 500px;
}
.single-blog .start-title h2{
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 2rem;
    margin-top: 0;
    color: #333;
}
.single-blog .desc p{
    max-width: 970px;
    font-size: 16px;
    color: dimgray;
    margin-top: 25px;
}
.blog-detail-footer .tags li{
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: dimgray;
    margin-left: 10px;
}
.blog-detail-footer .post-share .social-list li{
    color: dimgray;
    margin-left: 10px;
}
.blog-detail-footer .post-share h6{
    font-family: "Kanit", sans-serif;
    color: dimgray;
    font-size: 16px;
    font-weight: 400;
}
.blog-detail-footer .thumbnail img{
    max-width: 100px;
    max-height: 100%;
    border-radius: 50%;
}
.blog-detail-footer .thumbnail ul li{
    margin-left: 5px;
    color: dimgray;
    margin-top: 15px;
}
.blog-detail-footer .thumbnail .content a{
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    display: block;
    margin-bottom: 15px;
    color: #333;
}
.blog-detail-footer .thumbnail .content p{
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    display: block;
    margin-bottom: 15px;
    color: dimgray;
    max-width: 710px;
    line-height: 1.5;
}
.related-blog .card .meta li{
    font-family: "Kanit", sans-serif;
    color: dimgray;
}
.related-blog .card h5{
    font-family: "Marcellus SC", serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}
.comments .title{
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    color: #333;
    margin-top: 50px;
}

.comments .thumbnail img{
    max-width: 100px;
    max-height: 100%;
    border-radius: 50%;
}
.blog-detail-footer .thumbnail ul li{
    margin-left: 5px;
    color: dimgray;
    margin-top: 15px;
}
.comments .thumbnail .content a{
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    display: block;
    margin-bottom: 15px;
    color: #333;
}
.comments .thumbnail .content p{
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    display: block;
    margin-bottom: 15px;
    color: dimgray;
    max-width: 710px;
    line-height: 1.5;
}
.comments .thumbnail .date{
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: dimgray;
}
.product-gallery .product-star .star i{
    font-size: 12px;
    font-weight: 900;
    line-height: 1;
    content: "    ";
    white-space: nowrap;
    color: #f5cc26;
}
.product-gallery .product-star a{
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #7e7e7e;
}
.product-gallery .product-summery h3{
    font-family: "Marcellus SC", serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1675;
    margin-bottom: 25px;
    margin-left: 0;
}
.product-gallery .product-summery .product-price{
    font-family: "Marcellus SC", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.175;
    display: block;
    margin-bottom: 25px;
    color: #333;
}
.product-gallery .product-summery .product-description p{
    font-family: "Marcellus SC", serif;
    line-height: 1.565;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    color: dimgray;
    margin-left: 0;
    margin-top: 40px;
}
.product-gallery .product-summery .product-variations span{
    font-family: "Kanit", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
    width: 160px;
}
.product-gallery .product-summery .product-variations .product-sizes a{
    font-family: "Kanit", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    margin-right: 15px;
    color: #ababab;
}
.product-gallery .product-summery .product-variations .product-sizes a:hover{
    color: #000;
    transition: all .5s;
}
.product-gallery .product-summery .product-buttons .hearth{
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: dimgray;
    border: 1px solid dimgray;
    border-radius: 500px;
    background-color: rgba(0, 0, 0, 0);
    width: 56px;
    padding: 15px;
}
.product-gallery .product-summery .product-buttons .hearth:hover{
    color: white;
    background-color: #333;
    transition: all .5s;
}
.product-gallery .product-summery .product-buttons .add-cart{
    font-weight: 400;
    line-height: 24px;
    padding: 15px 40px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 500px;
    background-color: #333;
    color: white;
}
.product-gallery .product-summery .product-buttons .add-cart:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: all .5s;
}
.product-gallery .product-summery .product-brands span{
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #333;
}
.product-gallery .product-summery .product-brands .brands img{
    opacity: 0.4;
}
.product-gallery .product-summery .product-brands .brands img:hover{
    opacity: 1;
    transition: all .5s;
}